<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>student Interface</title>
</head>
<body>
<center>
<h1>Student Interface</h1>
<form action="/result">
<table width="25%" border="1">
    <tr>
        <td><b>Roll no</b></td>
        <td><input type="text" name="rollno"></td>
    </tr>

    <tr>
        <td><b>Name</b></td>
        <td><input type="text" name="sName"></td>
    </tr>

    <tr>
        <td><b>Birth Date</b></td>
        <td><input type="date" name="dob"></td>
    </tr>

    <tr>
        <td><b>Gender</b></td>
        <td>
            <input type="radio" name="gender" value="male">male
            <input type="radio" name="gender" value="female">female
        </td>
    </tr>

    <tr>
        <td><b>Father's Name:</b></td>
        <td><input type="text" name="fname"></td>
    </tr>

    <tr>
        <td><b>Hindi</b></td>
        <td><input type="text" name="h"></td>
    </tr>

    <tr>
        <td><b>English:</b></td>
        <td><input type="text" name="e"></td>
    </tr>

    <tr>
        <td><b>Maths:</b></td>
        <td><input type="text" name="m"></td>
    </tr>

    <tr>
        <td><b>Physics</b></td>
        <td><input type="text" name="p"></td>
    </tr>

    <tr>
        <td><b>Chemistry:</b></td>
        <td><input type="text" name="c"></td>
    </tr>
</table><br><br>
<input type="submit" value="submit">
<input type="Reset" value="Reset">

</center>
</form>
</body>
</html>